<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Notes for Article: <span id="modal-title"></span></h5>
        <hr>

        <div class="addedNotes"></div>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input type="hidden" id="articleId">
                      <input type="hidden" id="noteId">
                     <textarea id="textarea1" class="materialize-textarea"></textarea>
                    
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn saveNote">Save Note</button>
        <button class="waves-effect waves-light btn deleteNote">Delete Note</button>
    </div>
</div>